body{
}
.hero-wide{
	background: #FECA00;
	min-height: 400px;
	max-height: 803px;
}
.hero-unit{
	text-align: center;
}
.hero-unit img{
	height: 100%;
}

/* vertical media queries */

/*
@media (min-height: 993px) { /* perfect hero unit + white space */
	/*.hero-wide, .hero-unit{
		height: 803px;
	}*/
}*/
