body, html{
	width: 100%;
height: 100%;
overflow: hidden;
}
.hero-wide{
	background: #FECA00;
	/*min-height: 400px;*/
	max-height: 803px;
}
.hero-unit{
	min-height: 197px;
	text-align: center;
}
.hero-unit img{
	max-width: 100%;
}

/* vertical media queries */

/*
@media (min-height: 920px) { /* perfect hero unit + white space */
	/*.hero-wide, .hero-unit{
		height: 803px;
	}*/


#wrapper{
width: 100%;
height: 100%;
}

.snappish-slide{
	overflow: hidden;
}