body{
}
.hero-wide{
	background: #FECA00;
	/*min-height: 400px;*/
	max-height: 803px;
}
.hero-unit{
	min-height: 197px;
	text-align: center;
}
.hero-unit img{
	max-width: 100%;
}

/* testing animations */

.skrollable-before{
	opacity:0!important;
}
.skrollable-between, .skrollable-after {
	opacity:1 !important;
}