/*
@yellow: #FFCE15;
@black: #000;
*/
body, html, .wrapper{
	height: 100%;
}
body{
}

/* navbar */
.navbar{
	background: none;
	border: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: #fff;
}
.navbar-default .navbar-brand{
	color: #000;
}
.navbar-default .navbar-toggle{
	border: 0;
}
.navbar-toggle .icon-bar {
	width: 30px;
	height: 5px;
	border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar{
	background: #000;
	margin-top: 7px;
}

/* navbar offcanvas */
/* credits http://blogs.telerik.com/kendoui/posts/13-11-05/creating-a-rwd-off-canvas-layout-with-bootstrap-3 */
.row-offcanvas {
	position: relative;
	right: 0;
	-webkit-transition: left .3s ease-in;
	-most-transition: left .3s ease-in;
	transition: left .3s ease-in;
}

/* sidebar */
.sidebar-offcanvas {
	right: -40%;
	width: 40%;
	position: absolute;
	top: 0;
	height: 100%;
	background-color: #F7F7F7;
	padding: 0px;
}

/* content */
.row-offcanvas.active {
	right: 40%;
}

header.main, section.main, footer.main{
	min-height: 100%;
	width: 100%;
}

header.main{
	padding-top: 70px;
	background: #FFCE15;
}

.skills{
	background: url("../images/patt-custom-4b.jpg");
}