/*
@yellow: #FFCE15;
@black: #000;
*/
body, html{
	height: 100%;
}
body{
}

/* navbar */
.navbar{
	background: none;
	border: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: #fff;
}
.navbar-default .navbar-brand{
	color: #000;
}
.navbar-default .navbar-toggle{
	border: 0;
	display: block;
}
.navbar-toggle .icon-bar {
	width: 30px;
	height: 5px;
	border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar{
	background: #000;
	margin-top: 7px;
}

.navbar .navbar-collapse {
  position: fixed;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(255,255,255,0.9);
}

.navbar .navbar-collapse.in {
 opacity: 1; 
  z-index: 400;
  height: 100% !important; /*overriding bootstrap js styling on toggle*/
}

header.main, section.main, footer.main{
	min-height: 100%;
	width: 100%;
}

header.main{
	padding-top: 70px;
	background: #FFCE15;
}

.skills{
	background: url("../images/patt-custom-4b.jpg");
}