/* ------ */
/* global */
/* ------ */

html, body{ // allows for full screen panels
	height: 100%;
	width: 100%;
}

/* custom navbar that blends with the content below, without being position:fixed */

.navbar-blend-top {
	// position: absolute;
	// top: 0;
	z-index: @zindex-navbar;
	border-width: 0 0 1px;
	width: 100%;
	background: transparent;
	border-color: transparent;
	margin:0;
	@media (min-width: @grid-float-breakpoint) {
	border-radius: 0;
	}
	@media (max-width: @grid-float-breakpoint-max) {
		.navbar-collapse, .navbar-form{
			border: 0;
			background: url(../images/patt-custom-4a.jpg) fixed;
			text-align: center;
		}
		.navbar-nav{
			> li > a {
	        	color: @brand-primary;
	        	&:hover{
	        		text-decoration: underline;
	        	}
	      	}
	    }
  	}
}

article footer{
	border-top: 1px solid @gray-lighter;
	margin-top: (2 * @padding-large-vertical);
}

/* ------ */
/* layouts */
/* ------ */

#default{
	.jumbotron{
		// padding-top: (@navbar-height + @navbar-margin-bottom + @jumbotron-padding);
		background: url(../images/patt-custom-4c.jpg) fixed;
	}
	.navbar-blend-top{
		background: url(../images/patt-custom-4c.jpg) fixed;
	}
}

#homepage{

}

/* ------ */
/* pages */
/* ------ */

/*
homepage
*/
#homepage{ // allows me to add panels on other page without full height
	header.home-panel, section.home-panel, footer.home-panel{
		min-height: 100%;
	}
}
header.home-panel, section.home-panel, footer.home-panel{
	width: 100%;
	text-align: center;
	padding-bottom: @padding-large-vertical;
}

header.home-panel{
	background: url("../images/homepage-main-bg.jpg") center center no-repeat #FFCB04 fixed;
	background-size: contain;
}

.home-panel#panel-skills{
	background: url("../images/patt-custom-4c.jpg") repeat fixed;
}

.skill-circle{
	background: #fff;
	border-radius: 100%;
	border: 1px solid @brand-primary;
	padding: @padding-large-vertical;
	width: 115px;
	height: 115px;
	img{
		width: 50%;
	}
}

#panel-skills .col-xs-6{
	margin-bottom: @padding-large-vertical;
}

a.icon-social{
	color: #fff;
	width: 52px;
	height: 52px;
	display: inline-block;
	border: 0;
	border-radius: 50%;
	padding-top: 15px;
	i{
		font-size: 24px;
	}
	span{
		text-indent: -9999px;
		display:block;
	}
	&.twitter{
		background-color: #77CBEF;
	}
	&.linkedin{
		background-color: #1284C7;
	}
	&.facebook{
		background-color: #537ABC;
	}
	&.google-plus{
		background-color: #DD4B39;
	}
	&.github{
		background-color: #666;
	}
	&:hover{
		background-color: @brand-primary;
	}
}

/*
portfolio-webdesigner
*/
#filter-bar{
	margin-bottom: (2 * @padding-large-vertical);
	h4{
		padding-right: @padding-base-horizontal;
	}
}

#project-count{
	text-align:right;
	.navbar-vertical-align(50px);
}

#project-wrapper{
	.project{
		@media(min-width: @screen-xs) and (max-width: @screen-sm) {
			.make-xs-column(6);
		}
		.make-sm-column(6);
	    .make-md-column(4);
	    .thumbnail{
	    	border:0;
	    	img, a img{
	    		border: 1px solid @gray-lighter;
	    		padding: 10px;
	    		border-radius:5px;
	    		width:100%;
	    	}
	    	.caption{
	    		padding:0;
		    	.date{
		    		display: none;
		    	}
	    	}
	    }
	}
	.project-tags{
		.label{
			margin-bottom: @padding-small-vertical;
			margin-right: @padding-small-vertical;
			display: block;
			float: left;
		}
	}
}

/* 
project page
*/

.project-images{
}
.project-masonry-images{
	margin: 0 (@grid-gutter-width / 2);
}

.project-image{
	max-width:100%;
	display:inline-block;
	margin-bottom: @grid-gutter-width;
}

/*
competences
*/
.skill{
	@media(min-width: @screen-xs) and (max-width: @screen-sm) {
		.make-xs-column(6);
	}
	.make-sm-column(3);

	@media(max-width: @screen-sm) {
		margin-bottom: (4 * @padding-large-vertical);
	}

	.skill-icon{
		text-align:center;
		img{
			border: 1px solid @gray-lighter;
			border-radius: 100%;
			padding: 20px;
		}
	}
}