/* header logo */
.logo-img{
	background: url('../images/logo.svg') no-repeat;
	/*text-indent: -9999px;*/
	background-size: contain;
	display: block;
	width: 2.75em;
	height: 2.75em;
	margin: 0 1em 0 1em;
	float: left;
}
.logo-label{
	display: inline-block;
}

article footer{
	border-top: 1px solid @gray-lighter;
	margin-top: (2 * @padding-large-vertical);
}