<footer class="main">

	<div class="container">

		<div class="row">
		
			<p class="col-md-7">

				Tous drois r&eacute;serv&eacute;s Dagobert Renouf - <a href="http://www.dgbrt.fr">Webdesigner freelance</a> &agrave; Lille, France.

			</p>

			<p class="col-md-5" id="bottom-nav">

				<a href="http://www.dgbrt.fr/cv_webdesigner_dgbrt.pdf">T&eacute;l&eacute;chargez mon cv</a> - <a href="/credits">Cr&eacute;dits</a> - <a href="https://github.com/dagobertrenouf/dgbrt.fr">Code sur github</a> 

			</p>

		</div>

	</div>

</footer>