
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/holder.js"></script>
    <script src="/js/jquery.equalheights.js"></script>
    <script src="/js/jquery.magnific-popup.custom-fork.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    <script>
    
    $(document).ready(function(){
        $('[rel="tooltip"]').tooltip();
        // typeAdjustments();
        projectImagesLightbox();

        $("#testimonies-carousel").owlCarousel({
          transitionStyle : "fade",
          autoPlay: 10000,
          // "singleItem:true" is a shortcut for:
          items : 2, 
          itemsDesktop : false,
          itemsDesktopSmall : false,
          itemsTablet: false,
          itemsMobile : [992,1]
        });
 
    });

    $(window).resize(function(){
        // typeAdjustments();
        blocksHeightAdjustments();
    });

    $(window).load( function(){
        blocksHeightAdjustments();
        portfolioIsotope();
        projectImagesMasonry();
    });

    $(window).scroll(function() {

        // var topWin = $(window).scrollTop();
        // var bottomWin = $(window).scrollTop() + $(window).height();
        // var bottomDoc = $(document).height();
        // var p1Height = $("header.home-panel").height(); // height of main panel
        // 
        // if(bottomWin >= bottomDoc - 100){
        //     // $("header.main").removeClass("bounceOutUp");
        //     $("header.main").addClass("ontop bounceInDown animated");
        // }
        // if($("header.main").hasClass("ontop")){
        //     if(topWin <= 100){
        //         $("header.main").removeClass("ontop bounceInDown animated");
        //     }
        // }
        // if(topWin < p1Height/2){
        //     $("header.main").removeClass("bounceInDown");
        //     $("header.main").addClass("bounceOutUp");
        // }
    });

    function typeAdjustments(){
        var goldenRatio = 1.61803398875
        
        // main panel position
        var p1Height = $("header.home-panel").height();
        var p1TopPadding = p1Height / Math.pow(goldenRatio,3); // applying golden ratio top padding
        $("header.home-panel h1").css('margin-top', p1TopPadding);

        // other panels
        $(".home-panel").each( function(index, element){
            if(index > 0){ // avoids the first panel above
                var pHeight = $(this).height();
                var pTopPadding = pHeight / Math.pow(goldenRatio, 4);
                $(this).children(".container").children("header").children("h2").css('margin-top', pTopPadding);
            }
        });
    }

    function blocksHeightAdjustments(){
        $('#skills .skill').height('auto');
        if(($(window).width()) > 480)
            $('#skills .skill').equalHeights();
    }

    function portfolioIsotope(){
        var $container = $('#project-wrapper');
        // init
        $container.isotope({
          // options
          itemSelector: '.project',
          layoutMode: 'fitRows',
          getSortData: {
            date: '.date'
          },
          sortAscending: {
            date: false
          }
        });

        $('#project-filters').on( 'click', 'li', function( event ) {
          var filterValue = $(this).attr('data-filter-value');
          $container.isotope({ filter: filterValue });
          $('#project-filters').children('li').removeClass('active');
          $(this).addClass('active');
        });

        $('#project-sorts').on( 'click', 'button', function() {
          var sortValue = $(this).attr('data-sort-value');
          $container.isotope({ sortBy: sortValue });
        });

        $container.isotope( 'on', 'layoutComplete', function(){
          setTimeout(function () {
            $('#project-count span').html($('.project:visible').length);
            }, 100);
        });
    }

    function projectImagesMasonry(){
        var $container = $('.project-masonry-images');
        // initialize
        $container.masonry({
          columnWidth: '.project-image',
          itemSelector: '.project-image'
        });
    }

    function projectImagesLightbox(){
        // Initialize popup as usual
        $('.image-link').magnificPopup({ 
          type: 'image',
          mainClass: 'mfp-with-zoom', // this class is for CSS animation below
          overflowY: 'scroll',
          gallery:{
            enabled:true
          },

          zoom: {
            enabled: true, // By default it's false, so don't forget to enable it

            duration: 300, // duration of the effect, in milliseconds
            easing: 'ease-in-out', // CSS transition easing function 

            // The "opener" function should return the element from which popup will be zoomed in
            // and to which popup will be scaled down
            // By defailt it looks for an image tag:
            opener: function(openerElement) {
              // openerElement is the element on which popup was initialized, in this case its <a> tag
              // you don't need to add "opener" option if this code matches your needs, it's defailt one.
              return openerElement.is('img') ? openerElement : openerElement.find('img');
            }
          }

        });
    }
    </script>
  </body>
</html>