<footer class="main">

	<div class="container">

		<div class="row">

			<p class="col-lg-6">

				Tous drois r&eacute;serv&eacute;s Dagobert Renouf - <a href="http://www.dgbrt.fr">Webdesigner freelance</a> &agrave; Lille, France.
				<br/>Partenaire <a href="http://www.elodiemonet.com" target="_blank">scénographe</a> Élodie Monet.

			</p>

			<p class="col-lg-6" id="bottom-nav">

				<a href="http://www.dgbrt.fr/cv_webdesigner_dgbrt.pdf">T&eacute;l&eacute;chargez mon cv</a> - <a href="/credits">Cr&eacute;dits</a> - <a href="https://github.com/dagobertrenouf/dgbrt.fr">Code sur github</a>&nbsp;-&nbsp;<a href="https://twitter.com/getdago" class="icon-social twitter"><i class="icon-fa-twitter"></i></a>&nbsp;-&nbsp;<a href="http://fr.linkedin.com/in/dgbrt/" class="icon-social linkedin"><i class="icon-fa-linkedin"></i></a>&nbsp;-&nbsp;<a href="https://www.facebook.com/webdesigner.dgbrt" class="icon-social facebook"><i class="icon-fa-facebook"></i></a>&nbsp;-&nbsp;<a href="https://plus.google.com/118341738680540380620/?rel=author" class="icon-social google-plus"><i class="icon-fa-google-plus"></i></a>

			</p>

		</div>

	</div>

</footer>
