<footer class="main">

	<div class="container">

		<div class="row">
		
			<p class="col-md-7">

				Tous drois r&eacute;serv&eacute;s Dagobert Renouf - <a href="http://www.dgbrt.fr">Webdesigner freelance</a> &agrave; Lille, France.

			</p>

			<p class="col-md-5" id="bottom-nav">

				<a href="http://www.dgbrt.fr/cv_webdesigner_dgbrt.pdf">T&eacute;l&eacute;chargez mon cv</a> - <a href="/credits">Cr&eacute;dits</a> - <a href="https://github.com/dagobertrenouf/dgbrt.fr">Code sur github</a> - <a href="https://twitter.com/getdago" class="icon-social twitter"><i class="fa fa-twitter"></i></a> - <a href="http://fr.linkedin.com/in/dgbrt/" class="icon-social linkedin"><i class="fa fa-linkedin"></i></a> - <a href="https://www.facebook.com/webdesigner.dgbrt" class="icon-social facebook"><i class="fa fa-facebook"></i></a> - <a href="https://plus.google.com/b/110726372233559947201/?rel=author" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>

			</p>

		</div>

	</div>

</footer>