
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function(){
		$("nav.main").hide();
        typeAdjustments();
    });

    $(window).resize(function(){
        typeAdjustments();
    });

    function typeAdjustments(){
        var goldenRatio = 1.61803398875
        
        // main heading position
        var p1Height = $("header.home-panel").height();
        var p1TopPadding = p1Height / Math.pow(goldenRatio,3); // applying golden ratio top padding
        $("header.home-panel h1").css('margin-top', p1TopPadding);
        console.log(p1TopPadding);
    }
    </script>
  </body>
</html>