<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{% if page.seo-description %}{{page.seo-description}}{% else %}{{ site.description_en }}{% endif %}">
    <meta name="author" content="Dagobert Renouf">

    <meta property="og:description" content="{% if page.seo-description %}{{page.seo-description}}{% else %}{{ site.description_en }}{% endif %}"/>
    
    <title>{% if page.seo-title %}{{page.seo-title}}{% else %}{{ site.name_en }}{% endif %}</title>
    
    <!-- Bootstrap custom CSS full -->
    <link href="/css/bootstrap-custom.min.css" rel="stylesheet">
    
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,600,300,400' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="{{ page.layout }}">