<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- parallax on homepage -->
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
    <meta name="description" content="{% if page.seo-description %}{{page.seo-description}}{% else %}{{ site.description_en }}{% endif %}">
    <meta name="author" content="Dagobert Renouf">

    {% if page.layout == "homepage-en" %}
    <meta property="og:image" content="http://www.dgbrt.fr/images/cover-image.jpg"/>
    {% endif %}
    <meta property="og:description" content="{% if page.seo-description %}{{page.seo-description}}{% else %}{{ site.description_en }}{% endif %}"/>
    
    <title>{% if page.seo-title %}{{page.seo-title}}{% else %}{{ site.name_en }}{% endif %}</title>
    
    <!-- Bootstrap custom CSS full -->
    <link href="/css/bootstrap-custom.min.css" rel="stylesheet">
    
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family={% if page.layout == "homepage-en" %}Playfair+Display:900|{% endif %}Open+Sans:800,600,300,400' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="{{ page.layout }}">

    <div class="navbar navbar-default navbar-blend-top" role="navigation">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>

        <span class="logo navbar-brand">
      
          <a id="logo" href="/en">
      
            <span class="logo-img"></span>
            <span class="logo-label">
              Dagobert Renouf<br>
              <strong>Webdesigner &amp; Project Manager</strong>
            </span>
      
          </a>
      
        </span>
      
      </div>
      
      <nav class="navbar-collapse collapse">
      
        <ul class="nav navbar-nav navbar-right">
      
          <li><a href="/en/vision">Vision</a></li>
          <li><a href="/en/webdesigner-portfolio">Portfolio</a></li>
          <li><a href="/en/skills">Skills</a></li>
          <li><a href="/en/experiences">Experiences</a></li>
          <li><a href="/en/contact">Contact</a></li>
          <li class="lang"><a href="/"><i class="icon-fontawesome-webfont-1"></i>  Fr</a></li>
      
        </ul>
      
      </nav><!--/.nav-collapse -->
    
    </div>