---
layout: portfolio
published: true
seo-title: Portfolio de webdesigner freelance dgbrt
---

<article>

	<div class="jumbotron">

		<header class="container">

			<h1>Portfolio webdesigner</h1>

			<p>Voici une sélection des projets de conception web les plus marquants auxquels j’ai participé au cours des dernières années.</p>

		</header>

	</div>

	<section class="container" id="portfolio">

		<div class="row" id="filter-bar">

			<div class="col-sm-10">

				<h4>Filtrer par rôle:</h4>
				
				<ul class="nav nav-pills" id="project-filters">
					
					<!-- <li class="active" data-filter-value="*"><a href="javascript:void(0)">Tout</a></li> -->
					
					<li class="active" data-filter-value=".webdesign"><a href="javascript:void(0)">Webdesigner</a></li>
					
					<li data-filter-value=".integration"><a href="javascript:void(0)">Intégrateur</a></li>

					<li data-filter-value=".moa"><a href="javascript:void(0)">Maître d'oeuvre</a></li>

				</ul>

			</div>

			<div class="col-sm-2">

				<p id="project-count"><span>9</span> projets.</p>

			</div>

		</div>

		<div class="row" id="project-wrapper">
{% for order in (1..99) %}{% for post in site.categories.portfolio-webdesigner %}{% if post.order == order %}	  			
  			<div class="project{% for subcategory in post.subcategories %} {{ subcategory }}{% endfor %}" data-subcategory="{% for subcategory in post.subcategories %}{{ subcategory }} {% endfor %}">

  				<div class="thumbnail">

					<a href="{{ post.url }}"><img src="/images/portfolio/thumbnails/lossy/600_{{ post.slug }}.jpg" alt="..."></a>

					<div class="caption">

						<h3>
							<a href="{{ post.url }}">{{ post.title }}</a>
							<small class="date">{{ post.year }}</small>
						</h3>

						<p>{{ post.description-short }}</p>

						<p class="project-tags clearfix">
							{% for tag in post.tags %}<span class="label label-default">{{ tag }}</span>{% endfor %}
						</p>

					</div>

				</div>

  			</div>
{% endif %}{% endfor %}{% endfor %}
		</div>

	</section>

</article>