---
layout: default
published: true
---

<article>

	<div class="jumbotron">

		<header class="container">

			<h1>Portfolio webdesigner</h1>

			<p>Voici une sélection des projets de conception web les plus marquants auxquels j’ai participé au cours des dernières années.</p>

		</header>

	</div>



	<section class="container" id="portfolio">

		<div class="row hidden-xs" id="filter-bar">

			<div class="col-sm-9">

				<h4 class="pull-left">Filtrer:</h4>
				
				<ul class="nav nav-pills" id="project-filters">
					
					<li class="active" data-filter-value="*"><a href="javascript:void(0)">Tout</a></li>
					
					<li data-filter-value=".webdesign"><a href="javascript:void(0)">Webdesign</a></li>
					
					<li data-filter-value=".integration"><a href="javascript:void(0)">Intégration</a></li>

					<li data-filter-value=".vision"><a href="javascript:void(0)">Vision</a></li>

					<li data-filter-value=".prestashop"><a href="javascript:void(0)">Prestashop</a></li>

					<li data-filter-value=".wordpress"><a href="javascript:void(0)">Wordpress</a></li>

				</ul>

			</div>

			<div class="col-sm-3">

				<p id="project-count"><span>9</span> projets.</p>

			</div>

		</div>

		<div class="row" id="project-wrapper">

			{% for order in (1..99) %}

				{% for post in site.categories.portfolio-webdesigner %}

					{% if post.order == order %}
	  			
			  			<div class="project{% for tag in post.tags %} {{ tag }}{% endfor %}" data-category="{% for tag in post.tags %}{{ tag }} {% endfor %}">

			  				<div class="thumbnail">

								<a href="{{ post.url }}"><img src="/images/portfolio/thumbnails/uncompressed/300_{{ post.slug }}.jpg" alt="..."></a>

								<div class="caption">

									<h3>
										<a href="{{ post.url }}">{{ post.title }}</a>
										<small class="date">{{ post.year }}</small>
									</h3>

									<p>{{ post.description }}</p>

								</div>

							</div>

			  			</div>
			  			
	  				{% endif %}
				
				{% endfor %}
				
			{% endfor %}

		</div>

	</section>

</article>