{% include header.html %}
<article>

	<header class="jumbotron">

		<div class="container">

			<h1>{{ page.title }}</h1>
			
			<p>{{ page.description }}</p>
			
			<!-- <p>
				Mission d{% for subcategory in page.subcategories %}{% if forloop.first %}{% if subcategory == "integration" %}'{% else %}e {% endif %}{% endif %}{% if subcategory == "integration" %}intégration{% else %}{{ subcategory }}{% endif %}{% if forloop.last %} {% else %}, {% endif %}{% endfor %}en {{ page.year }}, {{ page.location }}.
			</p> -->

			<p>
				{% if page.link-url %}<a href="{{ page.link-url }}" class="btn btn-primary btn-lg" target="_blank">Voir le site</a>{% endif %}
			</p>

		</div>

	</header>

	<section>
   		
   		{{content}}

   	</section>

	<footer></footer>

</article>


{% include footer-infos.html %}
{% include footer.html %}